In [67]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb

In [112]:
df = pd.read_csv('./SA-Feedback-Surveys/2017/Student-Feedback-Surveys-Superview.csv')
df.head()

    ID       Location           Track    Week Rating (Num)    Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1            3         Just right
1   36    Los Angeles            Apps  Week 1            4  A little too fast
2  117  San Francisco           Games  Week 1            4       Way too slow
3  253            NaN             NaN  Week 2            4  A little too fast
4  350  New York City  Apps, Explorer  Week 1            4         Just right

In [96]:
df.columns

Index(['ID', 'Location', 'Track', 'Week', 'Rating (Num)', 'Schedule Pacing'], dtype='object')

In [97]:
len(df)

1453

In [104]:
df[df.isna().any(axis=1)]

        ID Location Track    Week Rating (Num)    Schedule Pacing
3      253      NaN   NaN  Week 2            4  A little too fast
15     307      NaN   NaN  Week 3            5  A little too slow
33     340      NaN   NaN  Week 1            6  A little too slow
43     489      NaN   NaN  Week 1            6  A little too slow
93     465      NaN   NaN  Week 3            7         Just right
169    244      NaN   NaN  Week 2            8  A little too fast
205    354      NaN   NaN  Week 1            8         Just right
232    423      NaN   NaN  Week 3            8         Just right
312    241      NaN   NaN  Week 2            9  A little too fast
439    356      NaN   NaN  Week 1           10         Just right
508    536      NaN   NaN  Week 2            7  A little too fast
510    538      NaN   NaN  Week 1            7         Just right
548    579      NaN   NaN  Week 2           10  A little too fast
550    581      NaN   NaN  Week 2            4  A little too fast
556    587      NaN   NaN  Week 2            8         Just right
569    600      NaN   NaN  Week 2            6  A little too fast
577    608      NaN   NaN  Week 2            0       Way too fast
595    626      NaN   NaN  Week 4           10         Just right
704    739      NaN   NaN  Week 2            7  A little too fast
728    766      NaN   NaN  Week 1            9  A little too fast
808    846      NaN   NaN  Week 3            7  A little too fast
810    848      NaN   NaN  Week 3           10         Just right
881    919      NaN   NaN  Week 5            9  A little too fast
935    974      NaN   NaN  Week 3           10         Just right
940    979      NaN   NaN  Week 3            7         Just right
959   1002      NaN   NaN  Week 2            9         Just right
1102  1145      NaN   NaN  Week 1            9         Just right
1104  1147      NaN   NaN  Week 1            9         Just right
1106  1149      NaN   NaN  Week 1            8         Just right
1108  1151      NaN   NaN  Week 1            9  A little too fast
1112  1155      NaN   NaN  Week 1           10         Just right
1120  1164      NaN   NaN  Week 1            9         Just right
1121  1165      NaN   NaN  Week 2           10         Just right
1140  1185      NaN   NaN  Week 4            7         Just right
1141  1186      NaN   NaN  Week 4           10         Just right
1157  1202      NaN   NaN  Week 4            7       Way too slow
1178  1224      NaN   NaN  Week 2            7  A little too fast
1187  1233      NaN   NaN  Week 2           10       Way too fast
1189  1235      NaN   NaN  Week 3           10         Just right
1235  1281      NaN   NaN  Week 5           10         Just right
1310  1356      NaN   NaN  Week 2      #ERROR!                NaN
1322  1368      NaN   NaN  Week 3      #ERROR!                NaN
1335  1382      NaN   NaN  Week 5            5         Just right
1340  1387      NaN   NaN  Week 2           10         Just right
1405  1452      NaN   NaN  Week 7            7         Just right
1410  1457      NaN   NaN  Week 6           10         Just right
1411  1458      NaN   NaN  Week 3      #ERROR!                NaN

In [111]:
# REMOVE THIS, not good practice to drop ALL rows that contain a NaN value

# drop NaN values
# df = df.dropna()
# len(df)

df["Rating (Num)"].dropna()
len(df)

1406

In [107]:
df.dropna(subset=['Rating (Num)'])

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right
1,36,Los Angeles,Apps,Week 1,4,A little too fast
2,117,San Francisco,Games,Week 1,4,Way too slow
4,350,New York City,"Apps, Explorer",Week 1,4,Just right
5,23,Redwood City,Apps,Week 1,5,Just right
...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [72]:
# convert rating value from type str to int
df['Rating_Int'] = df['Rating (Num)'].apply(lambda x: int(x))
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Rating_Int
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,4
2,117,San Francisco,Games,Week 1,4,Way too slow,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,4
5,23,Redwood City,Apps,Week 1,5,Just right,5
...,...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,8
1450,1497,New York City,Apps,Week 7,10,Just right,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,1
1452,1499,New York City,Apps,Week 5,8,Just right,8

In [73]:
df.describe()

                ID   Rating_Int
count  1406.000000  1406.000000
mean    754.969417     8.431010
std     431.675601     1.427939
min       8.000000     0.000000
25%     382.250000     8.000000
50%     759.500000     9.000000
75%    1122.750000    10.000000
max    1499.000000    10.000000

In [74]:
def sentiment_category(rating):
    if rating >= 9:
        return "Promoter"
    elif rating >= 7:
        return "Passive"
    else:
        return "Detractor"

# sentiment category column
df['Sentiment'] = df["Rating_Int"].apply(sentiment_category)
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Rating_Int,Sentiment
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,3,Detractor
1,36,Los Angeles,Apps,Week 1,4,A little too fast,4,Detractor
2,117,San Francisco,Games,Week 1,4,Way too slow,4,Detractor
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,4,Detractor
5,23,Redwood City,Apps,Week 1,5,Just right,5,Detractor
...,...,...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,10,Promoter
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,8,Passive
1450,1497,New York City,Apps,Week 7,10,Just right,10,Promoter
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,1,Detractor
1452,1499,New York City,Apps,Week 5,8,Just right,8,Passive

In [94]:
# promoter_len = len(df[df.Sentiment == 'Promoter'])
# detractor_len = len(df[df.Sentiment == 'Detractor'])

# NPS = (promoter_len - detractor_len) / len(df)
# NPS

# df.groupby('Sentiment')['Sentiment'].count()
df['Sentiment'].value_counts()

Promoter     739
Passive      554
Detractor    113
Name: Sentiment, dtype: int64

How many more promoters are there than detractors across our 2017 data?

In [85]:
promo_diff = promoter_len - detractor_len
promo_diff

626

Which track boasts the best promoter-to-detractor ratio?